.navbar {
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: no-wrap;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 100%;
  list-style: none;
}

.logo {
  background: blue;
  width: 100px;
  height: 100px;
  border: 10px solid black;
}

li, Link {
  display: inline block;
  margin-right: 20px;
}
